params {
    input_dir = './data'
    output_dir = './output'
    kit_name = null
    no_trim = false
    barcode_both_ends = false
    emit_fastq = false
}

process {
    withName: 'dorado_demultiplex' {
        executor = 'local'
        cpus = 4
        memory = '8 GB'
    }

    withName: 'split' {
        executor = 'local'
        cpus = 2
        memory = '4 GB'
    }
}

workDir = './work'