
params {
    no_trim = true 
    kit_name = "SQK-LSK114" // Default value provided
    min_qscore = 10 
    barcode_both_ends = false
    emit_fastq = true 
    input_dir = "/home/dawn.williams-coplin/data"
    output_dir = "/home/dawn.williams-coplin/demux_data/output"
    model_arg= null // User should provide via--model_arg
}

process {
    withName: 'dorado_basecalling' {
        cpus = 4
        memory = '8 GB'
        time = '8h'
    }
    withName: 'dorado_demultiplex' {
        cpus = 4
        memory = '8 GB'
        time = '4h'
    }
}
    executor {
        name = 'local'
        queueSize = 10
}
workDir = './work'
