params {
    no_trim = false
    barcode_both_ends = false
    emit_fastq = false
    input_dir = "${projectDir}/data"
    output_dir = "${projectDir}/output"
}

process {
    withName: 'dorado_demultiplex' {
        executor = 'local'
        cpus = 4
        memory = '8 GB'
    }

    withName: 'split' {
        executor = 'local'
        cpus = 2
        memory = '4 GB'
    }
}

workDir = './work'
